/* =========================
   TABLET 1024~768
   ========================= */
@media (max-width: 1024px) and (min-width: 769px) {
  /* tablet tokens override (header/hero) */
  :root {
    --width-container-inner: 960px;
    --width-section-inner: 960px;
  }

  .desktop-header {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
    height: 73.64px;
    
  }

  .logo {
    width: 210px;
    height: 33.64px;
  }

  .gnb {
    width: 480px;
    justify-content: space-between;
    gap: 34px;
    font-size: 16px;
    line-height: 20.48px;
  }

  .desktop-section-hero {
    height: 1276px;
  }

  .hero-inner {
    width: 960px;
    max-width: 960px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-top: 24px;
  }

  .hero-main-title {
    width: 100%;
  }

  .hero-main-title-text {
    letter-spacing: -9.1px;
    line-height: 149.5px;
  }

  .hero-sub-text {
    width: 960px;
    max-width: 960px;
    border-radius: 22px;
  }

  .hero-sub-text-content {
    max-width: 338px;
    text-align: left;
    font-size: 22px;
    line-height: 26.818px;
    letter-spacing: -0.44px;
  }

  .hero-img {
    position: absolute;
    top: 578px;
    right: 18px;
    width: 664px;
    height: 736px;
  }

  /* desktop-section-about */
  .desktop-section-about {
    max-width: var(--width-section-inner);
    padding-top: 320px;
    padding-bottom: 160px;
  }

  .about-inner {
    max-width: var(--width-section-inner);
    gap: 64px;
  }

  .desktop-section-about .section-main-title {
    width: 432px;
    height: 180px;
  }

  .desktop-section-about .section-main-title-text {
    font-size: 180px;
    line-height: 180px;
    letter-spacing: -5.4px;
  }

  .desktop-section-about .section-deco-title {
    left: -90px;
    top: -57px;
    padding: 20px 40px 20px 40px;
  }

  .desktop-section-about .section-deco-title-text {
    font-size: 50px;
    letter-spacing: -1.5px;
  }

  .paper-airplane {
    left: 313px;
    top: 136px;
  }

  .about-main-text {
    width: 100%;
    gap: 72px;
  }

  .desktop-section-about .section-text-box {
    width: 960px;
    gap: 8px;
  }

  .desktop-section-about .sub-title {
    width: 960px;
  }

  .desktop-section-about .sub-title-text {
    font-size: 52px;
    line-height: 66.56px;
  }

  .desktop-section-about .sub-text {
    width: 479px;
  }

  .desktop-section-about .sub-text-content {
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: -0.48px;
  }

  .about-bottom-box {
    width: 883px;
    margin: 0 auto;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
  }

  .edu-title {
    width: 198px;
  }

  .edu-title-text {
    font-size: 28px;
    line-height: 35.84px;
    letter-spacing: -0.56px;
  }

  .edu-text {
    width: 661px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .edu-list {
    gap: 10px;
  }

  .edu-list-text p {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }

  /* desktop-section-skill */
  .desktop-section-skill {
    max-width: var(--width-section-inner);
    padding: 160px 0;
  }

  .skill-frame {
    position: relative;
    width: 960px;
    height: 1225px;
    max-width: var(--width-section-inner);
  }

  .skill-icon {
    position: absolute;
  }

  .skill-icon-1 {
    left: 81px;
    top: 300.36px;
    width: 105.36px;
    height: 99px;
  }

  .skill-icon-2 {
    left: 765.79px;
    top: 400px;
    width: 116.21px;
    height: 100px;
  }

  .skill-icon-3 {
    left: 60px;
    top: 618.36px;
    width: 116.77px;
    height: 110px;
  }

  .skill-icon-4 {
    left: 783px;
    top: 800px;
    width: 99px;
    height: 114px;
  }

  .skill-icon-5 {
    left: 53px;
    top: 1002.36px;
    width: 101px;
    height: 107px;
  }

  .skill-text {
    position: absolute;
    padding: 30px 70px 15px 70px;
  }

  .skill-text-content {
    font-size: 70px;
    line-height: 60px;
    letter-spacing: -2.1px;
  }

  .skill-text-1 {
    left: 343px;
    top: 170px;
    transform: rotate(9deg);
  }

  .skill-text-2 {
    left: 264px;
    top: 309px;
    transform: rotate(353deg);
  }

  .skill-text-3 {
    left: 240px;
    top: 468px;
    transform: rotate(9deg);
  }

  .skill-text-4 {
    left: 294px;
    top: 605px;
    transform: rotate(-6deg);
  }

  .skill-text-5 {
    left: 230px;
    top: 739px;
    transform: rotate(7deg);
  }

  .skill-text-6 {
    left: 170px;
    top: 887px;
    transform: rotate(354deg);
  }

  .skill-text-7 {
    left: 293px;
    top: 1002.36px;
    transform: rotate(-2deg);
  }

  /* desktop-section-project */
  .desktop-section-project {
    max-width: var(--width-container-inner);
    padding-top: 240px;
    padding-bottom: 0px;
  }

  .project-inner {
    max-width: var(--width-section-inner);
    gap: 64px;
  }

  .desktop-section-project .section-main-title {
    width: 100%;
    height: 245px;
    text-align: center;
  }

  .desktop-section-project .section-deco-title {
    left: 13px;
    top: -93px;
    padding: 20px 40px 20px 40px;
  }

  .desktop-section-project .section-deco-title-text {
    font-size: 50px;
    letter-spacing: -1.5px;
  }

  .desktop-section-project .section-main-title-text {
    font-size: 180px;
    line-height: 180px;
    letter-spacing: -5.4px;
  }

  .desktop-section-project .section-text-box {
    max-width: var(--width-section-inner);
    gap: 8px;
  }

  .desktop-section-project .sub-title {
    width: var(--width-section-inner);
  }

  .desktop-section-project .sub-title-text {
    font-size: 52px;
    line-height: 66.56px;
  }

  .desktop-section-project .sub-text {
    width: 356px;
  }

  .desktop-section-project .sub-text-content {
    font-size: 16px;
    line-height: 19.504px;
    letter-spacing: -0.48px;
    color: var(--color-black);
  }

  /* desktop-section-uiux */
  .desktop-section-uiux {
    max-width: var(--width-container-inner);
    padding-top: 160px;
    padding-bottom: 160px;
    margin: 0 auto;
  }

  .uiux-inner {
    max-width: 960px;
    gap: 160px;
  }

  .uiux-title-box {
    max-width: 960px;
    border-radius: 34px;
    min-height: 417px;
    padding: 90px 0;
  }

  .small-main-title-text {
    font-size: 120px;
    line-height: 127px;
  }

  .small-sub-box {
    width: 457px;
    gap: 7px;
  }

  .small-sub-title-text {
    font-size: 28px;
    line-height: 35.84px;
  }

  .small-sub-text-content {
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.48px;
  }

  .uiux-box {
    max-width: 687px;
    gap: 56px;
  }

  .list {
    flex-direction: column;
    gap: 64px;
    justify-content: flex-start;
    width: 100%;
  }

  .list-box {
    max-width: 678px;
    padding: 25px 0;
    border-radius: 40px;
    margin: 0 auto;
  }

  .heart-box {
    height: 24px;
    padding-right: 24px;
    margin-bottom: 10px;
  }

  .heart-box img {
    width: 25px;
    height: 100%;
  }

  .uiux-img {
    margin-top: 10px;
  }

  .uiux-img img {
    width: 100%;
    height: 362px;
    object-fit: cover;
  }

  .uiux-name-box {
    margin-top: 10px;
    padding: 0 24px 8px 24px;
  }

  .img-name span {
    font-size: 22px;
    letter-spacing: -0.72px;
  }

  .date span {
    font-size: 14px;
    letter-spacing: -0.48px;
  }

  /* desktop-section-teamproject */
  .desktop-section-teamproject {
    max-width: var(--width-container-inner);
    padding-top: 64px;
    padding-bottom: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .teamproject-title-img-box {
    position: relative;
    width: 960px;
    max-width: var(--width-section-inner);
    margin: 0 auto;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .teamproject-img-girl {
    position: relative;
    width: 750px;
    margin-left: 105px;
    margin-top: 92px;
  }

  .teamproject-img-girl img {
    width: 100%;
    height: auto;
  }

  .team-img-sun {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 182px;
    height: auto;
  }

  .teamproject-box {
    width: 960px;
    max-width: var(--width-section-inner);
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0 auto;
  }

  .small-title-box {
    width: 100%;
    min-height: 414px;
    padding: 90px 0;
    border-radius: 34px;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .small-main-title {
    width: 100%;
    text-align: center;
  }

  .small-main-title-text {
    font-size: 120px;
    line-height: 127px;
    letter-spacing: 0;
    color: var(--color-white);
  }

  .small-sub-box {
    width: 457px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    text-align: center;
  }

  .small-sub-title-text {
    font-size: 28px;
    line-height: 35.84px;
    letter-spacing: 0;
    color: var(--color-white);
  }

  .small-sub-text {
    width: 457px;
  }

  .small-sub-text-content {
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.48px;
    color: var(--color-white);
  }

  .teamproject-list {
    width: 960px;
    max-width: var(--width-section-inner);
    padding: 90px 80px;
    border: 1px solid var(--color-black);
    border-radius: 30px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0 auto;
  }

  .left-box {
    width: 805px;
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: flex-start;
  }

  .num-title {
    width: 127px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .num-title-text {
    font-size: 90px;
    line-height: 108px;
    color: var(--color-accent-main);
  }

  .text-box {
    width: 633px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .title-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
  }

  .project-name {
  }

  .project-name-text {
    font-size: 36px;
    line-height: 46.08px;
    letter-spacing: -1.08px;
    color: var(--color-black);
  }

  .big-caption-text {
    font-size: 16px;
    line-height: 21.94px;
    letter-spacing: -0.9px;
    color: var(--color-black);
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .en-text {
    width: 650px;
  }

  .en-text-content {
    font-size: 22px;
    line-height: 26.4px;
    letter-spacing: -0.72px;
    color: var(--color-black);
  }

  .kr-text {
    width: 447px;
  }

  .kr-text-content {
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.48px;
    color: var(--color-black);
  }

  .small-caption {
    margin-top: 4px;
  }

  .small-caption-text {
    font-size: 14px;
    line-height: 17.066px;
    letter-spacing: -0.7px;
    color: var(--color-black);
  }

  .teamproject-img {
    width: 474px;
    max-width: 100%;
    align-self: center;
  }

  .teamproject-img img {
    width: 100%;
    height: auto;
  }

  /* contact tweak */
  .desktop-section-contact .section-deco-title.contact-deco {
    top: -87px;
    left:553px;
    transform: rotate(8deg);
  }
}

/* =========================
   MOBILE 768
   ========================= */
@media (max-width: 768px) {
  :root {
    --width-container-inner: 720px;
    --width-section-inner: 720px;
  }

  .desktop-header {
    max-width: 720px;
    height: 73.64px;
    padding: 0px 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    width: 180px;
    height: 33.64px;
    display: flex;
    align-items: center;
  }

  .logo-img {
    width: 100%;
    height: auto;
    display: block;
  }

  .gnb {
    display: none;
  }

  .desktop-header::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("./public/images/menuOpen.svg") center/contain no-repeat;
    position: absolute;
    right: 0;
    top: 24px;
  }

  .desktop-section-hero {
    max-width: var(--width-container-inner);
    height: 1313px;
    margin: 0 auto;
    position: relative;
  }

  .hero-inner {
    width: var(--width-section-inner);
    max-width: var(--width-section-inner);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-top: 16px;
  }

  .hero-main-title {
    width: 574px;
  }

  .hero-main-title-text {
    font-size: 90px;
    line-height: 103.5px;
    letter-spacing: -6.3px;
  }

  .hero-sub-text {
    width: var(--width-section-inner);
    max-width: var(--width-section-inner);
    height: 96px;
    border-radius: 20px;
  }

  .hero-sub-text-content {
    max-width: 338px;
    font-size: 20px;
    line-height: 24.38px;
    letter-spacing: -0.4px;
    text-align: left;
  }

  .hero-img {
    position: absolute;
    top: 627px;
    left: 61px;
    width: 670px;
    height: 728px;
  }

  .hero-img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* desktop-section-about (mobile) */
  .desktop-section-about {
    max-width: var(--width-section-inner);
    padding-top: 180px;
    padding-bottom: 176px;
    margin: 0 auto;
  }

  .about-inner {
    max-width: var(--width-section-inner);
    gap: 28px;
    align-items: center;
  }

  .desktop-section-about .section-main-title {
    position: relative;
    width: 432px;
    height: 140px;
    margin: 0 auto;
  }

  .desktop-section-about .section-deco-title {
    position: absolute;
    left: 12px;
    top: -55px;
    padding: 20px 40px 20px 40px;
  }

  .desktop-section-about .section-deco-title-text {
    font-size: 40px;
    letter-spacing: -1.2px;
  }

  .paper-airplane {
    left: 295px;
    top: 92px;
  }
  .paper-airplane  img{
    width: 70%;
  }
  .desktop-section-about .section-main-title-text {
    font-size: 140px;
    line-height: 140px;
    letter-spacing: -4.2px;
  }

  .about-main-text {
    width: 100%;
    gap: 64px;
  }

  .desktop-section-about .section-text-box {
    width: 720px;
    gap: 8px;
    align-items: center;
  }

  .desktop-section-about .sub-title {
    width: 720px;
    text-align: center;
  }

  .desktop-section-about .sub-title-text {
    font-size: 32px;
    line-height: 40.96px;
    letter-spacing: 0;
  }

  .desktop-section-about .sub-text {
    width: 419px;
    text-align: center;
  }

  .desktop-section-about .sub-text-content {
    font-size: 14px;
    line-height: 17.066px;
    letter-spacing: -0.42px;
  }

  .about-bottom-box {
    width: 470px;
    margin: 0 auto;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .edu-title {
    width: 470px;
  }

  .edu-title-text {
    font-size: 24px;
    line-height: 30.72px;
    letter-spacing: -0.48px;
  }

  .edu-text {
    width: 470px;
    gap: 10px;
  }

  .edu-list {
    gap: 10px;
    align-items: flex-start;
  }

  .edu-list-text p {
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -0.54px;
  }

  .desktop-section-uiux {
    max-width: var(--width-container-inner);
    padding-top: 160px;
    padding-bottom: 120px;
    margin: 0 auto;
  }

  .uiux-inner {
    max-width: 720px;
    gap: 120px;
    align-items: center;
  }

  .uiux-title-box {
    max-width: 720px;
    min-height: 338px;
    padding: 60px 0;
    border-radius: 34px;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .small-sub-box {
    width: 457px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    text-align: center;
  }

  .uiux-box {
    max-width: 675px;
    gap: 48px;
  }

  .list {
    flex-direction: column;
    gap: 48px;
    justify-content: flex-start;
    width: 100%;
  }

  .list-box {
    max-width: 678px;
    padding: 25px 0;
    border-radius: 40px;
    margin: 0 auto;
    border: 1px solid var(--color-black);
  }

  .heart-box {
    height: 24px;
    padding-right: 24px;
    margin-bottom: 10px;
  }

  .heart-box img {
    width: 25px;
    height: 100%;
  }

  .uiux-img {
    margin-top: 10px;
  }

  .uiux-img img {
    width: 100%;
    height: 362px;
    object-fit: cover;
  }

  .uiux-name-box {
    margin-top: 10px;
    padding: 0 16px 8px 16px;
  }

  .img-name span {
    font-size: 20px;
  }

  .date span {
    font-size: 12px;
  }

  /* desktop-section-skill (mobile) */
  .desktop-section-skill {
    max-width: var(--width-section-inner);
    padding: 140px 0;
    margin: 0 auto;
  }

  .skill-frame {
    position: relative;
    width: var(--width-section-inner);
    max-width: var(--width-section-inner);
    height: 880px;
    margin: 0 auto;
  }

  .skill-icon {
    position: absolute;
  }

  .skill-icon-1 {
    left: 588px;
    top: 215px;
    width: 94px;
    height: 93px;
  }

  .skill-icon-2 {
    left: 47px;
    top: 156px;
    width: 105px;
    height: 84px;
  }

  .skill-icon-3 {
    left: 58px;
    top: 327px;
    width: 130px;
    height: 96px;
  }

  .skill-icon-4 {
    left: 596px;
    top: 482px;
    width: 100px;
    height: 95px;
  }

  .skill-icon-5 {
    left: 59px;
    top: 574px;
    width: 101px;
    height: 94px;
  }

  .skill-text {
    position: absolute;
    padding: 25px 50px 20px 50px;
    border-radius: 80px;
    border: 1px solid var(--color-black);
    background: var(--color-white);
  }

  .skill-text-content {
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -1.35px;
    font-family: var(--font-family-pp-editorial-new), serif;
    font-weight: 200;
  }

  .skill-text-1 {
    left: 272px;
    top: 39px;
    transform: rotate(9deg);
  }

  .skill-text-2 {
    left: 247px;
    top: 139px;
    transform: rotate(4deg);
  }

  .skill-text-3 {
    left: 204px;
    top: 242px;
    transform: rotate(-2deg);
  }

  .skill-text-4 {
    left: 285px;
    top: 353px;
    transform: rotate(15deg);
  }

  .skill-text-5 {
    left: 220px;
    top: 464px;
    transform: rotate(1deg);
  }

  .skill-text-6 {
    left: 180px;
    top: 576px;
    transform: rotate(352deg);
  }

  .skill-text-7 {
    left: 204px;
    top: 683px;
    transform: rotate(-3deg);
  }

  /* desktop-section-project (mobile) */
  .desktop-section-project {
    max-width: var(--width-section-inner);
    padding-top: 80px;
    padding-bottom: 0px;
    margin: 0 auto;
  }

  .project-inner {
    width: 100%;
    max-width: var(--width-section-inner);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }

  .desktop-section-project .section-main-title {
    position: relative;
    width: 720px;
    height: 140px;
    margin: 0 auto;
  }

  .desktop-section-project .section-deco-title {
    position: absolute;
    left: 28px;
    top: -83px;
    padding: 20px 40px 10px 40px;
    background-color: var(--color-accent-sub);
    transform: rotate(-13deg);
  }

  .desktop-section-project .section-deco-title-text {
    font-family: var(--font-family-pp-editorial-new), serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.2px;
    color: var(--color-white);
  }

  .desktop-section-project .section-main-title-text {
    font-family: var(--font-family-martian-mono), monospace;
    font-weight: 700;
    font-size: 140px;
    line-height: 1;
    letter-spacing: -4.2px;
    color: var(--color-black);
    text-align: center;
  }

  .desktop-section-project .section-text-box {
    width: 100%;
    max-width: var(--width-section-inner);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .desktop-section-project .sub-title {
    width: var(--width-section-inner);
    text-align: center;
  }

  .desktop-section-project .sub-title-text {
    font-family: var(--font-family-pp-editorial-new), serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40.96px;
    letter-spacing: 0;
    color: var(--color-black);
  }
  .desktop-section-project .sub-title-text span {
    display: block;
    font-style: italic;
  }

  .desktop-section-project .sub-text {
    width: 311px;
    text-align: center;
  }

  .desktop-section-project .sub-text-content {
    font-family: var(--font-family-pretendard), sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17.066px;
    letter-spacing: -0.42px;
    color: #686868;
  }

  /* desktop-section-teamproject (mobile) */
  .desktop-section-teamproject {
    max-width: var(--width-section-inner);
    padding-top: 64px;
    padding-bottom: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .teamproject-title-img-box {
    position: relative;
    width: 720px;
    max-width: var(--width-section-inner);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .teamproject-img-girl {
    position: relative;
    width: 600px;
    height: auto;
    margin: 80px auto 0;
    z-index: 1;
  }

  .teamproject-img-girl img {
    width: 100%;
    height: auto;
    display: block;
  }

  .team-img-sun {
    position: absolute;
    top: 0;
    right: 0;
    width: 176px;
    height: auto;
  }

  .teamproject-box {
    width: 720px;
    max-width: var(--width-section-inner);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .small-title-box {
    width: 100%;
    min-height: 334px;
    padding: 60px 0;
    border-radius: 34px;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .small-main-title {
    width: 100%;
    text-align: center;
  }

  .small-main-title-text {
    font-size: 100px;
    line-height: 127px;
    color: var(--color-white);
  }

  .small-sub-box {
    width: 457px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    text-align: center;
  }

  .small-sub-title-text {
    font-size: 24px;
    line-height: 30.72px;
    color: var(--color-white);
  }

  .small-sub-text {
    width: 457px;
  }

  .small-sub-text-content {
    font-size: 14px;
    line-height: 15.4px;
    letter-spacing: -0.42px;
    color: var(--color-white);
  }

  .teamproject-list {
    width: 720px;
    max-width: var(--width-section-inner);
    padding: 60px 57px;
    border: 1px solid var(--color-black);
    border-radius: 30px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
  }

  .left-box {
    width: 620px;
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: flex-start;
  }

  .num-title {
    width: 113px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .num-title-text {
    font-size: 80px;
    line-height: 96px;
    color: var(--color-accent-main);
  }

  .text-box {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .title-box {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
  }



  .project-name-text {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.96px;
    color: var(--color-black);
  }

  .big-caption {
    flex: 0 0 auto;
  }

  .big-caption-text {
    font-size: 14px;
    line-height: 17.066px;
    letter-spacing: -0.7px;
    color: var(--color-black);
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .en-text {
    width: 100%;
  }

  .en-text-content {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.6px;
    color: var(--color-black);
  }

  .kr-text {
    width: 100%;
  }

  .kr-text-content {
    font-size: 14px;
    line-height: 17.066px;
    letter-spacing: -0.42px;
    color: var(--color-black);
  }

  .small-caption {
    margin-top: 4px;
  }

  .small-caption-text {
    font-size: 12px;
    line-height: 14.628px;
    letter-spacing: -0.6px;
    color: var(--color-black);
  }

  .teamproject-img {
    width: 474px;
    max-width: 100%;
    align-self: center;
  }

  .teamproject-img img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* desktop-section-contact (mobile) */
  .desktop-section-contact {
    max-width: 768px;
    padding-top: 206px;
    padding-bottom: 140px;
    margin: 0 auto;
    background-color: var(--color-black);
  }

  .contact-inner {
    max-width: 716px;
    gap: 48px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desktop-section-contact .section-main-title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktop-section-contact .contact-title {
    font-size: 140px;
    line-height: 140px;
    letter-spacing: -4.2px;
    text-align: center;
    color: var(--color-white);
  }

  .desktop-section-contact .section-deco-title.contact-deco {
    position: absolute;
    left: 320px;
    top: -66px;
    background-color: var(--color-accent-sub);
    padding: 20px 40px 10px;
    transform: rotate(8deg);
  }

  .desktop-section-contact .contact-deco-text {
    font-family: var(--font-family-pp-editorial-new);
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #fff5f5;
    letter-spacing: -1.8px;
  }

  .desktop-section-contact .section-text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .desktop-section-contact .sub-title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .desktop-section-contact .contact-quote {
    font-family: var(--font-family-pp-editorial-new);
    font-weight: 400;
    font-size: 32px;
    line-height: 40.96px;
    color: var(--color-white);
    text-align: center;
  }

  .desktop-section-contact .contact-quote span {
    display: block;
    font-style: italic;
  }

  .desktop-section-contact .sub-text {
    width: 385px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .contact-sub {
    font-family: var(--font-family-montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 17.066px;
    color: var(--color-white);
    text-align: center;
    letter-spacing: -0.42px;
  }

  .contact-tel {
    width: 691px;
    background-color: var(--color-accent-bright);
    padding: 25px 60px 20px;
    display: flex;
    justify-content: center;;
    align-items: center;
  }

  .contact-tel-text {
    font-family: var(--font-family-pp-editorial-new);
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    color: var(--color-black);
    text-align: center;
  }
}


